<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        <img class="" src="/images/graphis-logo.png" alt="">
      </a>
    </div>
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="nav navbar-nav navbar-right">

        <li class="<%= @active == 'home' ? 'active': '' %>"><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
        <li class="dropdown <%= @active == 'photography' ? 'active': '' %>">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">MY WORK<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <% my_work_pages.each.with_index do |page_detail, index| %>
            <li class="<%= @page == index + 1 ? 'active': '' %>">
              <a href="/my_work?page=<%= index + 1 %>"><%= page_detail[0] %></a>
            </li>
            <% end %>
          </ul>
        </li>
        <li class="<%= @active == 'contact' ? 'active': '' %>"><a href="/contact">CONTACT ME</a></li>
      </ul>
    </div>
  </div>
</nav>
